<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Loan Application Data</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      rel="stylesheet"
    />
    <style>
      body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: #f0f2f5;
      }
      .container-fluid {
        padding: 30px;
      }
      h1 {
        color: #4a4a4a;
        margin-bottom: 30px;
        font-weight: 600;
      }
      .table-container {
        background-color: #ffffff;
        border-radius: 15px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        padding: 20px;
        overflow-x: auto;
      }
      #loanTable {
        width: 100% !important;
      }
      #loanTable thead {
        background-color: #6c5ce7;
        color: white;
      }
      #loanTable th,
      #loanTable td {
        vertical-align: middle;
        white-space: nowrap;
      }
      .btn-custom {
        margin: 2px;
      }
      .btn-view {
        background-color: #00b894;
        border-color: #00b894;
      }
      .btn-view:hover {
        background-color: #00a38c;
        border-color: #00a38c;
      }
      .btn-delete {
        background-color: #d63031;
        border-color: #d63031;
      }
      .btn-delete:hover {
        background-color: #c0392b;
        border-color: #c0392b;
      }
      .modal-content {
        border-radius: 15px;
      }
      .modal-header {
        background-color: #6c5ce7;
        color: white;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
      }
      .detail-item {
        margin-bottom: 10px;
      }
      .detail-item i {
        width: 25px;
        color: #6c5ce7;
      }
      .copy-btn {
        background-color: #fdcb6e;
        color: #2d3436;
        border: none;
      }
      .copy-btn:hover {
        background-color: #ffeaa7;
        color: #2d3436;
      }
    </style>
  </head>
  <body>
    <div class="container-fluid">
      <h1 class="text-center">Loan Application Data</h1>
      <div class="table-container">
        <table id="loanTable" class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Action</th>
              <th>No</th>
              <th>Name</th>
              <th>Email</th>
              <th>Phone</th>
              <th>City</th>
              <th>State</th>
              <th>Zip</th>
              <th>SSN</th>
              <th>Bank Name</th>
            </tr>
          </thead>
          <tbody>
            <% data?.forEach(function(user){ %>
            <tr>
              <td>
                <a href="update/<%= user.id %>" class="btn btn-warning btn-sm"
                  >View</a
                >
                <a
                  href="delete/<%= user.id %>"
                  class="btn btn-danger btn-sm delete"
                  >Delete</a
                >
              </td>
              <td><%= user.id %></td>
              <td>
                <%= user.first_name %> <%= user.middle_name %> <%=
                user.last_name %>
              </td>
              <td><%= user.email %></td>
              <td><%= user.number %></td>
              <td><%= user.city %></td>
              <td><%= user.state %></td>
              <td><%= user.Zip %></td>
              <td><%= user.ssn %></td>
              <td><%= user.bank_name %></td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Modal -->
    <div
      class="modal fade"
      id="detailsModal"
      tabindex="-1"
      aria-labelledby="detailsModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="detailsModalLabel">
              Loan Application Details
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <!-- Details will be populated here -->
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button type="button" class="btn copy-btn" id="copyInfoBtn">
              <i class="fas fa-copy"></i> Copy Info
            </button>
          </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
    <script>
      $(document).ready(function () {
        var table = $('#loanTable').DataTable({
          responsive: true,
          scrollX: true,
          pageLength: 10,
          lengthMenu: [
            [10, 25, 50, -1],
            [10, 25, 50, 'All'],
          ],
        });

        $('.view-details').on('click', function () {
          var userId = $(this).data('id');
          // Here you would typically make an AJAX call to get the user details
          // For this example, we'll just populate with dummy data
          var modalBody = $('.modal-body');
          modalBody.html(`
                    <div class="row">
                        <div class="col-md-6">
                            <div class="detail-item"><i class="fas fa-user"></i> <strong>Name:</strong> John Doe</div>
                            <div class="detail-item"><i class="fas fa-envelope"></i> <strong>Email:</strong> john@example.com</div>
                            <div class="detail-item"><i class="fas fa-phone"></i> <strong>Phone:</strong> 123-456-7890</div>
                            <div class="detail-item"><i class="fas fa-calendar"></i> <strong>DOB:</strong> 01/01/1990</div>
                            <div class="detail-item"><i class="fas fa-home"></i> <strong>Address:</strong> 123 Main St, Anytown, USA</div>
                        </div>
                        <div class="col-md-6">
                            <div class="detail-item"><i class="fas fa-id-card"></i> <strong>SSN:</strong> XXX-XX-1234</div>
                            <div class="detail-item"><i class="fas fa-university"></i> <strong>Bank:</strong> Big Bank</div>
                            <div class="detail-item"><i class="fas fa-piggy-bank"></i> <strong>Account:</strong> XXXX1234</div>
                            <div class="detail-item"><i class="fas fa-route"></i> <strong>Routing:</strong> 987654321</div>
                            <div class="detail-item"><i class="fas fa-money-bill-wave"></i> <strong>Loan Amount:</strong> $10,000</div>
                        </div>
                    </div>
                `);
        });

        $('.delete-record').on('click', function () {
          var userId = $(this).data('id');
          if (confirm('Are you sure you want to delete this record?')) {
            // Here you would typically make an AJAX call to delete the record
            // For this example, we'll just remove the row from the table
            table.row($(this).parents('tr')).remove().draw();
          }
        });

        $('#copyInfoBtn').on('click', function () {
          var modalBody = $('.modal-body');
          var copyText = '';
          modalBody.find('.detail-item').each(function () {
            copyText += $(this).text().trim() + '\n';
          });
          navigator.clipboard.writeText(copyText).then(
            function () {
              alert('Information copied to clipboard!');
            },
            function (err) {
              console.error('Could not copy text: ', err);
            }
          );
        });
      });
    </script>
  </body>
</html>
