<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <style>
      body {
        background: linear-gradient(135deg, #6d5bfa, #b06ab3);
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }

      .login {
        background-color: #fff;
        border-radius: 12px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
        padding: 40px 30px;
        max-width: 400px;
        width: 100%;
        text-align: center;
      }

      .login h1 {
        font-size: 28px;
        margin-bottom: 30px;
        color: #333;
        font-weight: bold;
      }

      .login .form-group {
        text-align: left;
      }

      .login .form-group label {
        font-weight: bold;
        color: #555;
      }

      .login .form-control {
        border-radius: 20px;
        padding: 10px 15px;
        margin-bottom: 15px;
        font-size: 16px;
        border: 1px solid #ddd;
      }

      .login .form-check-label {
        color: #666;
      }

      .login .btn-primary {
        background-color: #6d5bfa;
        border-color: #6d5bfa;
        padding: 10px 20px;
        border-radius: 20px;
        font-size: 18px;
        width: 100%;
        transition: background-color 0.3s ease;
      }

      .login .btn-primary:hover {
        background-color: #5a48e8;
        border-color: #5a48e8;
      }

      .login a {
        color: #6d5bfa;
        text-decoration: none;
        margin-top: 10px;
        display: inline-block;
        font-size: 14px;
      }

      .login a:hover {
        text-decoration: underline;
      }

      .text-danger {
        font-size: 14px;
      }
    </style>
  </head>
  <body>
    <div class="login">
      <h1 class="text-center">Sign In</h1>

      <!-- Corrected EJS Template -->
      <form class="needs-validation" id="form" method="POST">
        <div class="form-group was-validated">
          <label for="email" class="form-label">Email</label>
          <input class="form-control" type="email" name="email" id="email"
          required <% if(typeof form !== 'undefined') { %> value="<%= form.email
          %>" <% } %> >
          <span id="email_error" class="text-danger"></span>
        </div>

        <div class="form-group was-validated">
          <label for="password" class="form-label">Password</label>
          <input
            class="form-control"
            type="password"
            name="password"
            id="password"
            required
          />
          <span id="password_error" class="text-danger"></span>
        </div>

        <% if (typeof errors !== "undefined") { %> <% if (errors.password) { %>
        <span style="color: red"><%= errors.password %></span>
        <% } %> <% } %>

        <div class="form-group form-check text-start">
          <input class="form-check-input" type="checkbox" id="check" />
          <label class="form-check-label" for="check">Remember me</label>
        </div>

        <a href="/change_password">Forgot password?</a>

        <% if (sessionFlash) { %>
        <span style="color: red"
          ><%= sessionFlash.message %><%= sessionFlash.danger %></span
        >
        <% } %> <% if (typeof errors !== "undefined") { %> <% if (errors.email)
        { %>
        <span style="color: red"><%= errors.email %></span>
        <% } %> <% } %>

        <button class="btn btn-primary mt-3" id="myBtn">Login Now</button>
      </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function () {
        $('.save').click(function (e) {
          e.preventDefault();
          $('#loader').show();
          $("[id$='_error']").empty();
          var val = $(this).val();
          $.ajax({
            type: 'post',
            url: '/login',
            data: $(this).serialize(),
            dataType: 'json',
            success: function (result) {
              if (val === 'login') {
                if (result.error === false) {
                  toastr.success('Success');
                  setTimeout(function () {
                    window.location.href = '/dashboard';
                  }, 6000);
                }
              } else if (val === '') {
                toastr.error('Enter the fields');
              }
            },
            error: function (resobj) {
              toastr.error('Something went wrong');
              $.each(resobj.responseJSON.errors, function (k, v) {
                $('#' + k + '_error').text(v);
              });
            },
          });
        });
      });
    </script>
  </body>
</html>
