<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center> <h1>Thank you!</h1> </center>
    <center><p>Your submission has been received.</br>
One of our executive will get back to you shortly.</p></center>

     <p><center>This page will redirect in 5 seconds.</center></p>
</body>
</html>