<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Loan Details</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      rel="stylesheet"
    />
    <style>
      body {
        background: linear-gradient(to right, #ece9e6, #ffffff);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }
      .loan-details {
        background-color: #ffffff;
        border-radius: 15px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        padding: 30px;
        margin-top: 50px;
      }
      .loan-details h1 {
        color: #007bff;
        margin-bottom: 30px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 2px;
      }
      .detail-item {
        margin-bottom: 20px;
      }
      .detail-item i {
        color: #28a745;
        margin-right: 10px;
      }
      .detail-item strong {
        color: #343a40;
      }
      .btn-custom {
        background-color: #007bff;
        border: none;
        padding: 10px 30px;
        font-size: 18px;
        margin-top: 20px;
        color: #ffffff;
        border-radius: 25px;
        box-shadow: 0 8px 15px rgba(0, 123, 255, 0.4);
        transition: all 0.3s ease;
      }
      .btn-custom:hover {
        background-color: #0056b3;
        box-shadow: 0 15px 20px rgba(0, 123, 255, 0.4);
        transform: translateY(-2px);
      }
      .btn-copy {
        background-color: #28a745;
        border: none;
        padding: 10px 30px;
        font-size: 18px;
        margin-top: 20px;
        color: #ffffff;
        border-radius: 25px;
        box-shadow: 0 8px 15px rgba(40, 167, 69, 0.4);
        transition: all 0.3s ease;
      }
      .btn-copy:hover {
        background-color: #218838;
        box-shadow: 0 15px 20px rgba(40, 167, 69, 0.4);
        transform: translateY(-2px);
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8 loan-details">
          <h1 class="text-center mb-5">Loan Application Details</h1>
          <div class="row" id="loan-details-content">
            <div class="col-md-6">
              <div class="detail-item">
                <i class="fas fa-money-bill-wave"></i>
                <strong>Loan Amount:</strong> <%= data.ddlServices %>
              </div>
              <div class="detail-item">
                <i class="fas fa-user"></i>
                <strong>Name:</strong> <%= data.first_name %> <%=
                data.middle_name %> <%= data.last_name %>
              </div>
              <div class="detail-item">
                <i class="fas fa-envelope"></i>
                <strong>Email:</strong> <%= data.email %>
              </div>
              <div class="detail-item">
                <i class="fas fa-phone"></i>
                <strong>Phone:</strong> <%= data.number %>
              </div>
              <div class="detail-item">
                <i class="fas fa-calendar"></i>
                <strong>Date of Birth:</strong> <%= data.dob %>
              </div>
              <div class="detail-item">
                <i class="fas fa-home"></i>
                <strong>Address:</strong> <%= data.address %>, <%= data.city %>,
                <%= data.state %> <%= data.Zip %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="detail-item">
                <i class="fas fa-id-card"></i>
                <strong>Driver's License:</strong> <%= data.driving_licence %>
                (<%= data.driving_licence_state %>)
              </div>
              <div class="detail-item">
                <i class="fas fa-user-shield"></i>
                <strong>SSN:</strong> <%= data.ssn %>
              </div>
              <div class="detail-item">
                <i class="fas fa-university"></i>
                <strong>Bank:</strong> <%= data.bank_name %>
              </div>
              <div class="detail-item">
                <i class="fas fa-route"></i>
                <strong>Routing Number:</strong> <%= data.routing %>
              </div>
              <div class="detail-item">
                <i class="fas fa-piggy-bank"></i>
                <strong>Account Number:</strong> <%= data.AC_number %>
              </div>
              <div class="detail-item">
                <i class="fas fa-mobile-alt"></i>
                <strong>Mobile Banking:</strong> <%= data.mobile_onuserid %>
              </div>
            </div>
          </div>
          <div class="text-center">
            <button class="btn btn-copy btn-lg" onclick="copyDetails()">
              Copy Details
            </button>
            <a href="/dashboard" class="btn btn-custom btn-lg"
              >Cancel Application</a
            >
          </div>
        </div>
      </div>
    </div>
    <script>
      function copyDetails() {
        var details = document.getElementById('loan-details-content').innerText;
        var tempInput = document.createElement('textarea');
        tempInput.value = details;
        document.body.appendChild(tempInput);
        tempInput.select();
        document.execCommand('copy');
        document.body.removeChild(tempInput);
        alert('Details copied to clipboard!');
      }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
