/*----------------------------------------------------------------
	Canvas: Business
	Version: 1.0
-----------------------------------------------------------------*/


/*	Primary Menu Header size
-----------------------------------------------------------------*/
@media (min-width: 992px) {

	#header.transparent-header + #slider,
	#header.transparent-header + #page-title.page-title-parallax,
	#header.transparent-header + #google-map,
	#slider + #header.transparent-header {
		top: -80px;
		margin-bottom: -80px;
	}

	#header.transparent-header.floating-header + #slider,
	#header.transparent-header.floating-header + #google-map {
		top: -140px;
		margin-bottom: -140px;
	}

	#header.transparent-header + #page-title.page-title-parallax .container { padding-top: 80px; }

	#primary-menu ul li > a {
		padding-top: 29px;
		padding-bottom: 29px;
		text-transform: none;
		font-weight: bold;
	}

	#top-search,
	#top-cart,
	#side-panel-trigger {
		margin-top: 30px;
		margin-bottom: 30px;
	}

	#top-cart .top-cart-content { top: 50px; }

	#header,
	#header-wrap,
	#logo img { height: 80px; }

	#header.sticky-header:not(.static-sticky),
	#header.sticky-header:not(.static-sticky) #header-wrap,
	#header.sticky-header:not(.static-sticky):not(.sticky-style-2):not(.sticky-style-3) #logo img { height: 60px; }

	#header.sticky-header:not(.static-sticky) #primary-menu > ul > li > a {
		padding-top: 19px;
		padding-bottom: 19px;
	}

	#header.sticky-header:not(.static-sticky) #top-search,
	#header.sticky-header:not(.static-sticky) #top-cart,
	#header.sticky-header:not(.static-sticky) #side-panel-trigger {
		margin-top: 20px !important;
		margin-bottom: 20px !important;
	}

	#header.sticky-header:not(.static-sticky) #top-cart .top-cart-content,
	#header.sticky-header:not(.static-sticky) #primary-menu.sub-title.style-2 > div #top-cart .top-cart-content { top: 40px; }

	#primary-menu ul li > a > div { position: relative; }

	#primary-menu ul li > a > div:after {
		opacity: 0;
		content: '';
		background : url('../images/border-1.svg') no-repeat;
		position: absolute;
		bottom: -3px;
		left: 0;
		text-align: center;
		margin: 0 auto;
		width: 100%;
		height: 4px;
		-webkit-transition: all .3s ease;
		-o-transition: all .3s ease;
		transition: all .3s ease;
	}

	.dark #primary-menu ul li > a > div:after { background : url('../images/border-white-1.svg') no-repeat; }

	#primary-menu ul li.active > a > div:after,
	#primary-menu ul li:hover > a > div:after {
		bottom: -1px;
		opacity: 1;
	}

	#primary-menu ul li ul li a > div:after { content: none; }

	img.man { margin-left: 100px; }
	.section.parallax { padding: 160px 0; }
}

/* Slider Area
-----------------------------------------------------------------*/
.slider-caption h2 {
	text-transform: none;
	letter-spacing: 0;
	line-height: 1;
	font-size: 60px;
	line-height: 1.3;
	margin-bottom: 0px;
}

.slider-caption p {
	font-size: 30px;
	margin-bottom: 20px;
}

.slider-caption h2,
.slider-caption p,
.slider-caption .button {
	opacity: 0;
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
	-webkit-transform-origin: 50% 50% 0px;
	transform-origin: 50% 50% 0px;
	-webkit-transition: -webkit-transform .05s ease-out;
	transition: -webkit-transform .05s ease-out;
	transition: transform .05s ease-out;
	transition: transform .05s ease-out, -webkit-transform .05s ease-out;
	backface-visibility: hidden;
}

.swiper-slide.swiper-slide-active .slider-caption h2,
.swiper-slide.swiper-slide-active .slider-caption p,
.swiper-slide.swiper-slide-active .slider-caption .button {
	opacity: 1;
	-webkit-transition: transform 1s, opacity 1.05s;
	-o-transition: transform 1s, opacity 1.05s;
	transition: transform 1s, opacity 1.05s;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	backface-visibility: hidden;
}

.swiper-slide.swiper-slide-active .slider-caption p {
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}

.swiper-slide.swiper-slide-active .slider-caption .button {
	-webkit-transition-delay: 0.6s;
	transition-delay: 0.6s;
}

.one-page-arrow { bottom: 30px; }
.one-page-arrow .animated {
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
}

.slider-arrow-left i,
.slider-arrow-right i {
	font-size: 34px;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.slider-arrow-left,
.slider-arrow-right,
.owl-carousel-full .owl-nav [class*=owl-] {
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.slider-arrow-left:hover,
.slider-arrow-right:hover,
.owl-carousel-full .owl-nav [class*=owl-]:hover {
	background-color: transparent !important;
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

/* Feaured Carousel
-----------------------------------------------------------------*/
#oc-features .owl-item:not(.active) { opacity: .4; }

#oc-features .owl-item p {
	font-size: 16px;
	font-weight: 300;
	color: #666;
}

/* Button-link
-----------------------------------------------------------------*/
.button-link {
	display: inline-block;
	position: relative;
	color: #333;
	font-weight: 600;
	margin-top: 10px;
	padding: 5px 0;
	-webkit-transition: color .3s ease;
	-o-transition: color .3s ease;
	transition: color .3s ease;
}

.dark .button-link { color: #FFF; }

.button-link:hover { color: #00bed7; }

.button-link:after {
	content: '';
	background : url('../images/border-1.svg') no-repeat;
	position: absolute;
	bottom: 0px;
	left: 0;
	margin-bottom: 0;
	width: 100%;
	height: 4px;
	-webkit-transition: bottom .3s ease;
	-o-transition: bottom .3s ease;
	transition: bottom .3s ease;
}

.button-link.noborder:after { content: none; }
.button-link:hover:after { bottom: 3px; }


/* Owl Carousel - Controls - Arrows
-----------------------------------------------------------------*/
.owl-carousel-full .owl-nav [class*=owl-] {
	left: 150px !important;
	height: 60px;
	line-height: 60px;
	border: none;
	color: #333;
	background-color: transparent;
	font-size: 28px;
	border-radius: 0;
}

.owl-carousel .owl-nav .owl-next {
	left: auto;
	right: -155px;
}

.owl-carousel-full  .owl-nav .owl-next {
	left: auto !important;
	right: 155px !important;
	border-radius: 0;
}

.owl-carousel-full .owl-nav [class*=owl-]:hover { color: #333 !important; }

/* Owl Carousel - Responsive
-----------------------------------------------------------------*/
.device-lg .owl-carousel .owl-nav .owl-prev,
.device-md .owl-carousel .owl-nav .owl-prev,
.device-sm .owl-carousel .owl-nav .owl-prev,
.device-xs .owl-carousel .owl-nav .owl-prev { left: 2px !important; }

.device-lg .owl-carousel-full  .owl-nav .owl-next,
.device-md .owl-carousel-full  .owl-nav .owl-next,
.device-sm .owl-carousel-full  .owl-nav .owl-next,
.device-xs .owl-carousel .owl-nav .owl-next { right: 2px !important; }

/* Portfolio Filter
-----------------------------------------------------------------*/
.portfolio-filter {
	margin-left: auto;
	margin-right: auto;
	float: none;
}

.portfolio-filter li {
	display: inline-block;
	float: none;
}

.portfolio-filter li.activeFilter a { font-weight: normal; }
.portfolio-overlay { background-color: rgba(0, 0, 0, 0.75); }


/* Testimonial
-----------------------------------------------------------------*/
.testimonials-rating {
	margin-bottom: 25px;
	color: #FFD700;
	font-size: 30px;
	line-height: 1;
}

.testi-content p {
	font-size: 16px;
	color: #666;
	font-style: normal;
}

.testi-content p:before,
.testi-content p:after { display: none; }

.testi-meta:before { display: none; }
.testi-meta span { padding-left: 0; }

.testimonial .flex-control-nav { bottom: auto; right: auto; }
.testimonial .flex-control-nav li a { background-color: #333; }

/* Footer
-----------------------------------------------------------------*/
.widget > h4 {
	font-size: 16px;
	text-transform: none;
	letter-spacing: 0;
}

.widget_links li,
.widget_links li a {
	color: #999;
	font-size: 13px;
	padding-top: 1px;
}

.social-icon.si-mini {
	width: 24px;
	height: 24px;
	font-size: 11px;
	line-height: 23px !important;
}

.social-icon.si-mini:hover i:first-child { margin-top: -23px; }

/* Misc
-----------------------------------------------------------------*/
#header, #header-wrap, #logo img {
	-webkit-transition: all .4s ease;
	-o-transition: all .4s ease;
	transition: all .4s ease;
}

.feature-box h3 span.subtitle { font-size: 14px; }

.feature-box.fbox-plain .fbox-icon img { height: 50px; }

.col-padding {padding: 100px 60px !important; }

.heading-block:before {
	content: attr(data-heading);
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	color: #F5F5F5;
	z-index: -1;
	font-family: 'poppins', sans-serif;
	font-weight: bold;
	font-size: 90px;
	line-height: .3;
}

.heading-block.center:before {
	right: 0;
	left: 0;
	margin: auto;
}

.text-rotater {
	font-weight: 400;
	font-size: 20px;
	line-height: 1.7;
}

