/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Hanlding Updates
-----------------------------------------------------------------*/
.input-group-text
{
    border-radius: 0;
}

.blockform
{
    border: 1px solid #ced4da;
    padding: 0 10px;
    width: 82%;
    border-radius: 0px;
}

#whatget{background: url('../images/sections/what-you-get-back-lg-1.jpg') no-repeat center; background-size: auto 100%; background-position: left top; background-color: #f6f5f5;}
#whatis{background: url('../images/sections/personal-loans-1.png') no-repeat center; background-size: auto 100%; background-position: 80% 20px; border-bottom: 5px solid #0075C1; background-color: #000;}
@media (max-width: 768px) {
	#primary-menu {display:none;}
	#whatget{background: url('../images/sections/what-you-get-back-1.jpg') no-repeat center; background-size: cover; background-position: center top; background-color: #f6f5f5;}
	#whatget .heading-block{text-align:center;}
	#whatget .iconlist {margin: 0em;}
	#whatget .iconlist  li:last-child h4{margin: 0em;}
	#whatis{ border-bottom: 5px solid #0075C1; background-color: #000; text-align:center;}
	#cform{text-align:center; padding:10px;}
}
.light-title{margin: 30px 0;}
#cform{padding:3rem 50px 3rem 0px;}