﻿	/*
  	Flaticon icon font: Flaticon
  	Creation date: 04/10/2017 11:38
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("fonts/Flaticon/Flaticon.eot");
  src: url("fonts/Flaticon/Flaticon-1.eot") format("embedded-opentype"),
       url("fonts/Flaticon/Flaticon.woff") format("woff"),
       url("fonts/Flaticon/Flaticon.ttf") format("truetype"),
       url("fonts/Flaticon/Flaticon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("Flaticon.html#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-marketing:before { content: "\f100"; }
.flaticon-settings-2:before { content: "\f101"; }
.flaticon-internet:before { content: "\f102"; }
.flaticon-headphones:before { content: "\f103"; }
.flaticon-target:before { content: "\f104"; }
.flaticon-tool:before { content: "\f105"; }
.flaticon-settings-1:before { content: "\f106"; }
.flaticon-globe:before { content: "\f107"; }
.flaticon-graphic-1:before { content: "\f108"; }
.flaticon-graph:before { content: "\f109"; }
.flaticon-link:before { content: "\f10a"; }
.flaticon-boxes:before { content: "\f10b"; }
.flaticon-people:before { content: "\f10c"; }
.flaticon-profile:before { content: "\f10d"; }
.flaticon-graphic:before { content: "\f10e"; }
.flaticon-rocket-ship:before { content: "\f10f"; }
.flaticon-technology:before { content: "\f110"; }
.flaticon-seo-label:before { content: "\f111"; }
.flaticon-settings:before { content: "\f112"; }
.flaticon-chart:before { content: "\f113"; }
.flaticon-tap:before { content: "\f114"; }